// Bootstrap brand color customization


/*     brand Colors     */

$primary:           $purple-600 !default;
$secondary:         $grey-600 !default;
$success:           $green-600 !default;
$info:              $cyan-600 !default;
$warning:           $orange-600 !default;
$rose:              $pink-600 !default;
$danger:            $red-600 !default;
$light:             $grey-100 !default;
$dark:              $grey-800 !default;
$inverse:           $black-color !default;


$theme-card-colors: () !default;
$theme-card-colors: map-merge((
  "primary":    ($purple-500, $purple-600),
  "success":    ($green-500, $green-600),
  "info":       ($cyan-500, $cyan-600),
  "warning":    ($orange-500, $orange-600),
  "danger":     ($red-500, $red-600),
  "rose":       ($pink-500, $pink-600)
), $theme-card-colors);

$theme-shadow-colors: () !default;
$theme-shadow-colors: map-merge((
  "primary":    $purple-400,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "rose":       $rose
), $theme-shadow-colors);
